:root {
    --dark-gunmetal: #24232C;
    --roman-silver: #817D92;
    --platinum: #E6E5EA;
    --eerie-black: #18171F;
    --mint-green: #A4FFAF;
    --tart-orange: #F64A4A;
    --coral: #FB7C58;
    --crayola: #F8CD65;
}
